/* General & Layout */
* {
	box-sizing:border-box;
}
html {
	border-radius: 3px;
	-webkit-user-select: none;
	cursor: default;
}
body {
	margin: 0;padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #fff;
	width:310px;
	color:#fff200;
}

header {
	padding:10px 12px 0 12px;
	padding: 0;
}

h1 {
	font-size:18px; 
	margin:0;
	padding:0; 
}
h1#app-logo {
	display: block;
	line-height:42px;
	background:#529d03 url(images/ui/eye.png) 10px center no-repeat;
	color: #fff;
	font-size:24px;
	font-family:Arial;
	border-radius: 3px 3px 0 0;
	padding:2px 0 0 48px;
}
h2 {
	font-size:14px;
	margin:0 10px;
	padding:10px 0 6px 0;
	color: #333;
}
p {
	font-size: 14px;
}
a {
	text-decoration: none;
	color: #333;
}
#lang-select {
  position: absolute;
  right: 45px;
  top: 13px;
  font-size: 11px;
  font-weight: bold;
  text-align: right;
}
a.slang,span.sep {
  color: #fff;
}
a.slang:hover,a.slang.selected {
  text-decoration: underline
}
span.sep:first-child {
  display: none;
}
a.info {
	position:absolute;
	right:10px;
	top:9px;
	display:block;
	padding:1px 6px;
	border:2px solid #fff;
	border-radius:20px;
	font-size:14px;
	font-weight:bold;
	text-decoration: none;
	color:#fff;
}
p.info-panel {
	display:none;
	-webkit-transition: all 0.3s ease-out;
	border-bottom:1px solid #529d03;
	margin:0;
	color:#333;
	background-color:#ebfcd9;
	padding:10px;
	font-size:13px;
}
a.info:hover + p.info-panel,
a.info:focus + p.info-panel { 
	display:block;
}

/* accordion */

.accordion-container {
	font-size: 13px;
	width:310px;
	padding: 0px 10px;
}
.pull-down { 
	margin-bottom:-30px;
}
.accordion-header {
	padding:0;
	margin:0;
	background: #ebfcd9;//#e9eff4;
	border-radius: 3px;
	border: 1px solid #529d03;
	-webkit-transition: background .2s ease-in-out, border-radius .2s ease-in-out, border-bottom-color .2s ease-in-out;
	background-position: right 50%;
	background-repeat: no-repeat;
	margin: 5px 0 0 0;
	font-weight: normal;
}
.accordion-header a {
	display:block;
	font-size: 14px;
	background:transparent;
	padding: 5px 10px;
	cursor: pointer;
	color: #333;
}

.accordion-header a:hover,
.accordion-header a:focus {
	text-decoration: underline;
}

.active-header {
	border-radius: 3px 3px 0 0;
	border-bottom-color: transparent;
	font-weight: bold;
}

.active-header:hover,
.inactive-header:hover {	
	background-color: #fff;
}


.accordion-header a:after {
	content: "∧";
	float:right;
	color: #529d03;
	font-weight:bold;
	line-height:14px;
}
.inactive-header a:after {
	content:"∨";
	float:right;
	color: #529d03;
	font-weight:bold;
	line-height:14px;
}


.accordion-content {
	display: none;
	width:100%;
	background: #ffffff;
	border: 1px solid #529d03;
	border-top:none;
	color:#222;
	border-radius: 0 0 3px 3px;
}

.accordion-content p.intro { font-size: 12px; margin:0; padding:10px 10px 5px 10px; }

.accordion-content p.intro a {
	border-bottom: 1px dotted #444;
}
.accordion-content p.intro a:hover {
	border-bottom: 1px solid #444;
}

.accordion-content h2 { color: #444; margin:0; padding:5px 10px; font-size:13px; }
.accordion-content h3 { color: #666; margin:0; padding:0 10px 2px 10px; font-size:12px; font-weight:normal; }
.accordion-content p.slider { margin:5px 0; padding: 0 10px; }
.accordion-content input[type=range] { width:100%; }

/* footer */
footer {
	margin-top: 15px;
	background-color: #529d03;
	border-radius: 0 0 3px 3px;
	text-align: right;
	font-size: 10px;
	color: #fff;
	font-style: italic;
	line-height: 36px;
}
footer a {
	color: transparent;
	display: inline-block;
	vertical-align: middle;
	height: 36px;
	margin: 0 5px;
}
footer a#accessibility {
	width: 100px;
	height: 25px;
	background: transparent url(images/ui/accessibility.png) center center no-repeat;
}
footer a#q42 {
	width: 28px;
	height: 42px;
	margin-right:5px;
	margin-top:-12px;
	background: transparent url(images/ui/q42.png) center center no-repeat;
}
footer a#w00tcamp {
  color: inherit;
  line-height: 35px;
  vertical-align: 0px;
  margin: 0 0;
  text-decoration: underline;
}
